In [54]:
import conda_scripts
import pandas as pd
import geopandas as gpd
import datetime
import os

In [2]:
wl = conda_scripts.wiski.wiski.get_gw_stations_wellmeta_in_basin(basins = ['Son*'])

adding prmd
these are the basins ['ADR*' 'PLP*' 'PRM*' 'Son*' 'UPC*' 'UPE*' 'WRM*']
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=ADR*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=PLP*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=PRM*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=Son*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=Son*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=UPC*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=UPE*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success
trying...
https://www2.kisters.net/sonomacountygroundwater/KiWIS/KiWIS?service=kisters&type=queryServices&request=getStationList&datasource=0&format=html&station_name=WRM*&returnfields=station_name,station_no,site_name,station_latitude,station_longitude,ca_sta&ca_sta_returnfields=Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,TOS_3,BOS_3,TOS_4,BOS_4,TOS_5,BOS_5,TOS_6,BOS_6,TOS_7,BOS_7,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth
success

Done

In [31]:
stats = wl.dropna(subset='station_no')
stats = stats.dropna(subset='station_longitude')
stats = stats.loc[stats.station_longitude<0]

In [32]:
stats.loc[:, 'station_latitude'] = pd.to_numeric(stats.station_latitude, errors='coerce')
stats.loc[:, 'station_longitude'] = pd.to_numeric(stats.station_longitude, errors='coerce')
stats = stats.astype({'station_latitude': float, 'station_longitude': float}, errors='ignore')

stats = gpd.GeoDataFrame(stats, geometry=gpd.points_from_xy(stats.station_longitude, stats.station_latitude),
                         crs=4326).to_crs(2226)

In [33]:
stats.sort_values('station_longitude')

,station_name,station_no,site_name,station_latitude,station_longitude,Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,...,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth,geometry
6,UPE04-0032_1,UPE04-0032_1,PRMD,38.598420,-123.301085,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NaN,1047.85,NaN,NaN,POINT (6189839.399 1982415.487)
7,UPE04-0032_2,UPE04-0032_2,PRMD,38.598420,-123.301085,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NaN,1047.85,NaN,NaN,POINT (6189839.399 1982415.487)
8,UPE04-0032_3,UPE04-0032_3,PRMD,38.598420,-123.301085,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1047.85,NaN,NaN,POINT (6189839.399 1982415.487)
9,UPE04-0032_4,UPE04-0032_4,PRMD,38.598420,-123.301085,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NaN,1047.85,NaN,NaN,POINT (6189839.399 1982415.487)
10,UPE04-0032_5,UPE04-0032_5,PRMD,38.598420,-123.301085,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NaN,1047.85,NaN,NaN,POINT (6189839.399 1982415.487)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,Son0492,4901254-004,Sonoma Creek,38.231448,-122.382337,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,NaN,NaN,NaN,POINT (6451835.862 1846339.849)
260,Son0312,381326122225601,Sonoma Creek,38.223772,-122.382278,Survey_ElevNGVD29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,40.00,NaN,328,POINT (6451841.108 1843544.395)
317,Son0379,004N005W02Q002M,Sonoma Creek,38.215600,-122.380700,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,NaN,NaN,NaN,POINT (6452281.926 1840566.330)
166,Son0193,SV-Q18-01,Sonoma Creek,38.225183,-122.378634,Survey_ElevNAD88,41.0,290.0,NaN,NaN,...,NaN,NaN,41.0,290,Medium (200-500ft),NAPA-SONOMA VALLEY - SONOMA VALLEY,51.69,NaN,375,POINT (6452890.193 1844053.742)
261,Son0313,381258122221901,Sonoma Creek,38.216333,-122.372081,Survey_ElevNGVD29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,10.00,NaN,700,POINT (6454759.575 1840823.138)

In [35]:
wshed = conda_scripts.load_datasets.load_watersheds.load('SON')

In [38]:
stats = gpd.clip(stats, wshed)

In [40]:
stats

,station_name,station_no,site_name,station_latitude,station_longitude,Vert_coord_Loc,TOS_1,BOS_1,TOS_2,BOS_2,...,TOS_8,BOS_8,Depth_to_Bot_Perf,Depth_to_Top_Perf,Depth_Category,Subbasin_Name,GWREF_DATUM,Web_Station_Name,Well_Depth,geometry
326,Son0388,004N005W34D001M,Sonoma Creek,38.154100,-122.408200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,NaN,NaN,NaN,POINT (6444279.922 1818203.386)
327,Son0389,004N005W34D080M,Sonoma Creek,38.154100,-122.408200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,NaN,NaN,NaN,POINT (6444279.922 1818203.386)
323,Son0385,004N005W28Q001M,Sonoma Creek,38.157800,-122.417300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,NaN,NaN,NaN,POINT (6441669.227 1819562.738)
322,Son0384,004N005W28P001M,Sonoma Creek,38.157800,-122.421900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,NaN,NaN,NaN,POINT (6440346.476 1819568.840)
258,Son0310,381122122234301,Sonoma Creek,38.189461,-122.395278,Survey_ElevNGVD29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NAPA-SONOMA VALLEY - SONOMA VALLEY,0.000000,NaN,NaN,POINT (6448051.975 1831064.883)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Son0006,SV-G03-04,Sonoma Creek,38.438312,-122.567964,Lidar_Elev_NAVD88,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Shallow (0-200ft),KENWOOD VALLEY,517.039978,NaN,180,POINT (6398984.143 1921953.359)
5,Son0007,SV-G03-06,Sonoma Creek,38.438390,-122.568540,Lidar_Elev_NAVD88,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Shallow (0-200ft),KENWOOD VALLEY,519.760010,NaN,225,POINT (6398819.195 1921982.721)
3,Son0005,SV-G03-03,Sonoma Creek,38.439322,-122.568514,Lidar_Elev_NAVD88,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Shallow (0-200ft),NaN,534.900024,NaN,215,POINT (6398828.766 1922321.960)
2,Son0004,SV-G03-02,Sonoma Creek,38.440041,-122.569409,Lidar_Elev_NAVD88,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Medium (200-500ft),NaN,549.169983,NaN,450,POINT (6398573.974 1922585.673)
474,Son0542,4901255-002,Sonoma Creek,38.442801,-122.574879,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,POINT (6397013.700 1923600.517)

In [41]:
k = conda_scripts.wiski.wiski.get_kiwis()

In [45]:
# load parameters for basin

locs = ['ADR*', 'PLP*', 'PRM*', 'Son*', 'UPC*' ,'UPE*' ,'WRM*']

son = [k.get_timeseries_list(station_name=bas, ts_name='01.Fin*,DayMeanEdit*,02.Final*',
                             parametertype_name='Groundwater_elevation',
                             return_fields=['station_name', 'station_no', 'station_id', 'ts_id', 'ts_name',
                                            'parametertype_id', 'parametertype_name', 'coverage']

                             )

       for bas in locs]

In [49]:
pars = pd.concat(son)
pars = pars.loc[pd.to_datetime(pars.loc[:,'from']).notnull()]

In [52]:
df = []
for name, group in pars.groupby('ts_id'):
    ts = k.get_timeseries_values(ts_id=name,
                                 **{'from': datetime.datetime(1969, 12, 1)},
                                 return_fields=['Value', 'Timestamp', 'Quality Code'])
    if ts.shape[0] > 0:
        ts.loc[:, 'ts_id'] = name

        df.extend([ts])

tsall = pd.concat(df)

C:\Users\arich\AppData\Local\Temp\1\ipykernel_20620\3303262391.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  tsall = pd.concat(df)

NameError: name 'os' is not defined

In [58]:
tsall.index = conda_scripts.wiski.wiski.tz_fix(tsall)

In [59]:
tsall

             Value  Quality Code     ts_id
Timestamp
1987-10-31  696.61           200  30046010
1988-10-11  697.31           200  30046010
1989-04-15  701.51           200  30046010
1989-10-30  698.71           200  30046010
1990-04-27  703.21           200  30046010
...            ...           ...       ...
2022-12-20  -24.00           200  66301010
2023-03-31  -17.00           200  66301010
2023-06-30  -19.00           200  66301010
2023-09-29  -30.00           200  66301010
2023-12-29  -20.00           200  66301010

[437633 rows x 3 columns]

In [67]:
tsall.to_csv(os.path.join('waterlevel','wl.csv'))
pars.to_csv(os.path.join('waterlevel','pars.csv'))
stats.to_csv(os.path.join('waterlevel','stats.csv'))